table {
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
}

table tr{
	border: 1px solid #757575;
}

table tbody tr:nth-child(odd) {
	background-color : #EEEEFF;

}

table tbody tr:hover{
	background-color: rgba(0, 0, 185, .5);
}


table td{
	padding: 1rem;
	border: 1px solid black;
	text-align: center;
}

table th{
	border: 1px solid black;
	padding: 1rem;
	background: #D95323;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
}

table tr td:first-child{
	text-align:left ;
	font-weight: bold;

}

.table-container{
	padding: 2rem 1rem;
}

.table-container h3{
	font-size: 1.8rem;
	font-size: normal;
	margin-bottom: 1rem;
}

.table-container tfoot td{
	font-weight: bold;
	background:#eee ;
}

.desc{
	font-weight: bold;

}